.config {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7px;
  top: 5px;
  right: 5px;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  padding: 8px;
  z-index: 1000;
  background: turquoise;

  img {
    width: 30px;
    height: 30px;
  }

  input {
    width: 200px;
    height: 20px;
  }

  button {
    background-color: black;
    color: white;
    height: 25px;
    border-radius: 3px;
    &:hover {
      background-color: orange;
    }
  }
}
